<h1>Welcome to ACAB (All Cats Are Beautiful)</h1>
<h1>All Cats</h1>
<% if @cats.any? %>
  <ul>
    <% @cats.each do |cat| %>
      <li><%= link_to cat.name, cat_path(cat) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no cats yet.</p>
<% end %>

<% if current_user %>
  <% if current_user.cats.any? %>
    <% current_user.cats.each do |kitty| %>
      <%= link_to kitty.name, cat_path(kitty) %>
    <% end %>
  <% else %>
    <p>You have no kitties.</p>
  <% end %>
<% end %>

<p><%= link_to "Add a new cat", new_cat_path %></p>